.carousel {
  height: 392px;
  background-image: image-url("header.jpg");
  background-position: center;
  color: #fff;
}

body > footer {
  padding: 60px 0;
}

.carousel img {
  width: 200px;
}

.carousel .about {
  float: right;
  margin-top: 80px;
  position: relative;
  left: 8px;
}

.carousel .about p {
 padding-top: 25px;
}

.carousel h1 {
  border-bottom: 2px solid;
  display: inline;
  padding: 15px 0;
  font-size: 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 45px;
  font-weight: normal;
}

header.main {
  height: 388px;
  background-image: image-url("give_a_voice.jpg");
  background-position: center;
}

#chants_container {
  background-color: #ecf0f1;
  padding-bottom: 60px;
}

#chants_container .main {
  padding: 10px 0;
}


#chants_container h3 {
  font-size: 18px;
  font-weight: normal;
}

#chants_container h3, #chants_container .powered {
  color: #bdc3c7;
}

#chants_container .powered {
  float: right;
  position: relative;
  top: -50px;
}

#chants_container video {
  width: 172px;
}

#chants_container .chant {
  display: inline-block;
  margin: 0 14px 14px 0;
  padding: 7px;
  background-color: #fff;
  vertical-align: top;
}

#chants_container .chant .likes {
  float: right;
}

.btn#load_more {
  margin: 0 auto;
  display: block;
  background-color: #2c3e50;
  padding: 7px;
  width: 100px;
  color: #fff;
}

footer#learn_more {
  height: 887px;
  background-image: image-url('learn_more.jpg');
  background-position: center;
}

div.clear {
  clear: both;
}

body > footer {
  background-color: #000;
}


body > footer, body > footer a {
  color: #C0C0C0;
}

body > footer a {
  margin-right: 10px;
}

body > footer .powered {
  margin-right: 0;
}

#upload {
  background-color: #7f8c8d;
}

#upload article {
  padding: 60px 0;
}

#upload form {
  text-align: center;
}

.ui-dialog video {
  width: 475px !important;
}
